<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:property-placeholder location="em.properties"/>

    <bean id="clientService" class="edu.entitymaster.dao.ClientService">
        <constructor-arg index="0" ref="trLogger"/>
        <constructor-arg index="1" ref="initialReader"/>
    </bean>

    <bean id="trLogger" class="edu.entitymaster.dao.TrLogger">
        <constructor-arg index="0" ref="bufferedWriter"/>
        <constructor-arg index="1" ref="byteArrayOutputStream"/>
    </bean>

    <bean id="bufferedWriter" class="java.io.BufferedWriter">
        <constructor-arg ref="fileWriter"/>
    </bean>

    <bean id="fileWriter" class="java.io.FileWriter">
        <constructor-arg type="java.lang.String" value="${em.repository}"/>
    </bean>

    <bean id="initialReader" class="java.io.FileReader">
        <constructor-arg type="java.lang.String" value="${em.repository}"/>
    </bean>

    <bean id="byteArrayOutputStream" class="java.io.ByteArrayOutputStream"/>

</beans>